body, html { 
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif; 
 } 
 body {
   padding-top: 110px;
 }
 .navbar { 
    background-color: #f5f0f0; /* Navbar background color */ 
     display: flex;
     list-style: none;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8rem;
  z-index: -1;
 } 
 

 #navbarNav {
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: rgb(15, 4, 4);
  justify-content: space-evenly;
  
  } 
  .nav-item {
   margin-left: 3rem;
  }
  
 .navbar-brand  { 
    color: #0a0101; /* Navbar link color */ 
    text-decoration: none; 
    padding: 10px 15px;
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     display: inline-block;
 }
 .Ita {
   font-size: 2rem;
   font-style: italic;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color:#ff1e00;
   
 } 


 
.carousel-item { 
   transition: transform 0.9 ease, opacity 0.9s ease;
   height: 100vh; 
} 
.carousel-inner img { 
   width: 100%; 
   height: 90vh; 
   object-fit: cover;
}
.textFrame { 
   position: absolute;
   font-size: 3rem; 
   top: 50%; 
   left: 50%; 
   transform: translate(-50%, -50%); 
   text-align: center; color: rgb(68, 4, 4); background-color: rgba(248, 242, 242, 0.5); /* Optional: Add a background color for better text visibility */ 
   padding: 10px; border-radius: 5px; 
}
.textFrame { 
   opacity: 0; animation: fadeIn 2s forwards; 
}
 @keyframes fadeIn { 
   to { 
      opacity: 1; 
   } 
}
